# ---------------------------------------------------------
# EXEMPLE DE CONFIGURATION - RENOMMER EN .env
# ---------------------------------------------------------

# PostgreSQL
POSTGRES_USER=votre_utilisateur
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=pokemon_db

# n8n
N8N_WEBHOOK_URL=https://votre-url-ngrok.ngrok-free.dev/

# Ngrok
NGROK_AUTHTOKEN=votre_token_secret_ngrok

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=votre_mot_de_passe_minio

# Metabase
METABASE_DB_USER=postgres
METABASE_DB_PASS=votre_mot_de_passe_postgres
